<!-- navbar.html -->
<div class="topbar">
  <div class="logo">Gardenology</div>

  <form class="search-box" onsubmit="searchPlants(); return false;">
    <div class="search-wrapper">
      <input
        type="text"
        id="plantInput"
        placeholder="Search plants..."
        oninput="showSuggestions()"
        autocomplete="off"
      />
      <div id="suggestions" class="suggestions-box"></div>
    </div>
    <button type="submit">🔍</button>
  </form>

  <nav>
    <div class="dropdown"><a href="/main.html">Home</a></div>

    <div class="dropdown">
      <a href="#">Plants▾</a>
      <div class="dropdown-content">
        <a href="#">Herbs</a>
        <a href="#">Flowers</a>
        <a href="#">Vegetables</a>
        <a href="#">Fruits</a>
      </div>
    </div>

    <div class="dropdown">
      <a href="..\Activities\careCards.html">Activities</a>
    </div>

    <div class="dropdown">
      <a href="/tips.html">Tips▾</a>
      <div class="dropdown-content">
        <a href="#">Watering</a>
        <a href="#">Sunlight</a>
        <a href="#">Soil</a>
      </div>
    </div>

    <div class="dropdown"><a href="ContactPage/contact.html">Contact</a></div>

    <div id="login" class="dropdown">
      <a href="/login.html" id="login-link">Login</a>
    </div>
  </nav>
</div>
